.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(49, 49, 49);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 1000;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}